{{> menu active="about"}}

<section class="box is-3 has-text-centered content">
  <h1 class="title">
    A Car live monitor utility.
  </h1>
  <div class="section">
    <h4 class="has-text-left">Features </h4>
    <div class="list">
      <div class="list-item has-text-left">
        <p>Shows current speed, location and RPM.</p>
        <p>Record trips with telemetry points that can be viewed on the map.</p>
        <p>Each telemetry point will show location, speed, RPM and violations if any.</p>
        <p>Start and end location of a trip.</p>
        <p>Display a graph of rpm and speed over the duration of a trip.</p>
      </div>
    </div>
</section>